<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Smartshare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.55</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>io.smartshare.app.debug</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fyb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>55</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>54ef42c24f06931d8436ceee3b38d50e9f3779ed</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to Apple Music.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app requires bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need permission to use your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>We need permission to access your contact list</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires background location tracking to connect you with users nearby.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires background location tracking to connect you with users nearby.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app requires background location tracking to connect you with users nearby.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires background location tracking to connect you with users nearby.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires motion location tracking to conserve battery life.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires access to your photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photos.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app may analyze your voice.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
